* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #F5F7F8;
}

main {
    /* background-image: url(img/background.jpg); */
    background-size: cover;
    background-position: center top;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.gotravel{
    /* font-family: 'Kaushan Script', cursive; */
    font-family: 'Playball', cursive;
    font-size: 5rem;
    font-weight: 300;
    text-transform: lowercase;
    cursor: pointer;
    user-select: none;
}

nav {
    display: grid;
    justify-items: center;
    place-items: center;
    align-items: center;
    grid-template-columns: 2fr 4fr 2fr;
    color: #212121;
}


nav>ul {
    list-style: none;
    display: flex;
    gap: 50px;
    font-weight: 600;
    user-select: none;

}

a {
    text-decoration: none;
    color: #212121;
}

ul>li>a {
    color: #212121;
    display: inline-block;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
}

ul>li>a::after {
    content: "";
    display: block;
    height: 2px;
    width: 0px;
    background: #212121;
    margin-top: 4px;
    transition: 0.3s;
    position: absolute;
}

ul>li>a:hover::after,
ul>li>a.ativo::after {
    width: 100%;
}

.btn-contact {
    height: 40px;
    width: 130px;
    border-radius: 30px;
    border-style: none;
    background-color: #D9CAB3;
    cursor: pointer;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    user-select: none;
}

.btn-contact:hover {
    background-color: #D9CAB3;
    transform: scale(1.1);
}

.btn-contact:active {
    background-color: #D9CAB3;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}

.btn-contact>a {
    color: #212121;
    font-weight: 600;
    user-select: none;
}

.banner {
    height: 100vh;
    width: 90%;
    margin: 0 auto;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(img/background.jpg);
    background-position: center center;
    background-attachment: fixed;
}


.txt-banner {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #F5F7F8;
    cursor: default;
    user-select: none;
    padding-bottom: 5%;
}

.txt-banner>h1 {
    font-size: 45pt;
    margin: 0;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.txt-banner>p {
    font-size: 24pt;
    margin: 0;
    letter-spacing: 10px;
    text-transform: lowercase;
}

.form-pesquisar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    /* background: #c8eeff2f;
    border-radius: 40px;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px); */
    width: 600px;
    height: 80px;
    margin-bottom: 10%;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    user-select: none;
}


form>input {
    border: 2px solid transparent;
    width: 25em;
    height: 2.5em;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #F5F7F8;
    border-radius: 40px;
    transition: all 0.5s;
}

form>input:hover,
form>input:focus {
    border: 2px solid #4A9DEC;
    box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
    background-color: white;
}

form>input::placeholder {
    font-weight: 600;
    color: #bdbdbd;
}

.btn-pesquisar {
    color: #F5F7F8;
    height: 40px;
    width: 130px;
    border-radius: 30px;
    border-style: none;
    background-color: #212121;
    cursor: pointer;
    border: none;
    font-weight: 600;
    font-size: 12px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    user-select: none;
}

.btn-pesquisar:hover {
    color: #F5F7F8;
    background-color: #323232;
    transform: scale(1.1);
}

.btn-pesquisar:active {
    background-color: #323232;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}

section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 60px;
    margin: 0 auto;
}

.section-services{

}

.txt-section {
    text-align: center;
    width: 50%;
    margin: 5% 0 10% 0;
}

.txt-section>h2 {
    font-size: 30px;
}

.txt-section>p {
    font-size: 20px;
}

.img-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    position: relative;
    bottom: 80px;
}

.img-section>span{
    background-color: #F5F7F8;
    border-radius: 20px;
    height: 550px;
    width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 20px 0 10px 0;
}

.img-ctd {
    height: 300px;
    width: 350px;
    object-fit: cover;
    border-radius: 15px;
}

.section-ctd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    width: 100%;
    height: 500px;
    background-image: url(img/sectionback.jpg);
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}

.section-ctd>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 500px;
    height: 200px;
    background: rgba(255, 255, 255, 0.089);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.section-ctd>div>h2 {
    font-size: 25px;
    color: #fff;
    margin: 0;
}

.section-ctd>div>p {
    width: 400px;
    color: #fff;
    margin-top: 30px;
    letter-spacing: 1px;
}



footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #212121;
    margin: 0 auto;
    height: 20vh;
    gap: 20px;
    border-radius: 50px 50px 0 0;
    color: #F5F7F8;
    text-align: center;
}
.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.social-media>span{
    background-color: #F5F7F8;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.social-media>span>img{
    object-fit: cover;
    height: 25px;
    width: 25px;
    
}