html {
    scroll-behavior: smooth;
}

img{
    -webkit-user-drag: none;
}

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #F5F7F8;
}

main {
    /* background-image: url(img/background.jpg); */
    background-size: cover;
    background-position: center top;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
}

.gotravel {
    /* font-family: 'Kaushan Script', cursive; */
    font-family: 'Playball', cursive;
    font-size: 4rem;
    font-weight: 300;
    text-transform: lowercase;
    cursor: pointer;
    user-select: none;
}

.gotravel-p {
    /* font-family: 'Kaushan Script', cursive; */
    font-family: 'Playball', cursive;
    font-size: 27pt;
    font-weight: 300;
    text-transform: lowercase;
    cursor: pointer;
    user-select: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: #212121;
    height: 180px;
    margin: 0;
}


nav>ul {
    list-style: none;
    display: flex;
    gap: 50px;
    font-weight: 600;
    user-select: none;
}

a {
    text-decoration: none;
    color: #212121;
}

ul>li>a {
    color: #212121;
    display: inline-block;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
}

ul>li>a::after {
    content: "";
    display: block;
    height: 2px;
    width: 0px;
    background: #212121;
    margin-top: 4px;
    transition: 0.3s;
    position: absolute;
}

ul>li>a:hover::after,
ul>li>a.ativo::after {
    width: 100%;
}

.btn-contact {
    height: 50px;
    width: 150px;
    border-radius: 30px;
    border-style: none;
    background-color: #212121;
    cursor: pointer;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    user-select: none;
}

.btn-contact:hover {
    background-color: #323232;
    transform: scale(1.1);
}

.btn-contact:active {
    background-color: #323232;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}

.btn-contact>a {
    color: #F5F7F8;
    font-weight: 600;
    user-select: none;
}

.banner {
    height: 100vh;
    width: 90%;
    padding-top: 5%;
    margin: 0 auto;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-image: url(img/background.jpg);
    background-position: center center;
    background-attachment: fixed; */
}

.video-banner {
    border-radius: 50px;
    top: 20%;
    right: 5%;
    left: 5%;
    position: absolute;
    width: 90%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

#video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* para cobrir todo o contêiner */
    object-position: center bottom;
    filter: brightness(70%);
}

.txt-banner {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #F5F7F8;
    cursor: default;
    user-select: none;
    margin-bottom: 15%;
}

.txt-banner>h1 {
    font-size: 45pt;
    margin: 0;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-family: 'Gloock', serif;
}

.txt-banner>p {
    font-size: 22pt;
    margin: 0;
    letter-spacing: 10px;
    text-transform: lowercase;
}

.form-pesquisar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    /* background: #c8eeff2f;
    border-radius: 40px;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px); */
    margin-bottom: 5%;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}


form>input {
    border: 2px solid transparent;
    width: 50rem;
    height: 3.5rem;
    padding-left: 1rem;
    outline: none;
    overflow: hidden;
    background-color: #F5F7F8;
    border-radius: 40px;
    transition: all 0.5s;
    font-size: 1rem;
    font-weight: 600;
    color: #212121;
}

form>input:hover,
form>input:focus {
    border: 2px solid #4A9DEC;
    box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
    background-color: #F5F7F8;
}

form>input::placeholder {
    font-size: 1rem;
    font-weight: 600;
    color: #bdbdbd;
    user-select: none;
}

.btn-pesquisar {
    color: #F5F7F8;
    height: 3.5rem;
    width: 130px;
    border-radius: 30px;
    border-style: none;
    background-color: #93A98E;
    cursor: pointer;
    border: none;
    font-weight: 600;
    font-size: 12px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    user-select: none;
}

.btn-pesquisar:hover {
    color: #F5F7F8;
    background-color: #81a87a;
    transform: scale(1.1);
}

.btn-pesquisar:active {
    background-color: #81a87a;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}

section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.txt-section {
    text-align: center;
    width: 50%;
    padding: 60px 0 10px 0;
    position: relative;
    background-color: #F5F7F8;
    border-radius: 50px;
    bottom: 170px;
}

.sub-title {
    font-size: 2.1rem;
    letter-spacing: 8px;
    margin-bottom: 8%;
    text-transform: uppercase;
    font-family: 'Gloock', serif;
}

.sub-text {
    font-size: 1.5rem;
    letter-spacing: 2px;
    width: 85vh;
    margin: 0 auto;
}


.img-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    bottom: 100px;
    gap: 3%;
    width: 100%;
    height: 100%;
    /* background-image: url(img/background.jpg);
    background-position: center center;
    background-attachment: fixed;
    border-radius: 50px; */
}

.card {
    height: 380px;
    width: 250px;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    /* border: solid #93A98E 5px; */
    box-shadow:  25px 25px 50px #acadae,
             -25px -25px 50px #ffffff;
}

.card-body {
    height: 110%;
    width: 100%;
    bottom: -100%;
    right: 0;
    position: absolute;
    border-radius: 10px 10px 0 0;
    background-color: #93a98e80;
    backdrop-filter: blur(5px);
    color: #F5F7F8;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: ease 1s;
}

.card-body>img{
    height: 30px;
    width: 20px;
    position: absolute;
    bottom: 92%;
    margin: 0 auto;
}

.card:hover .card-body {
    bottom: 0;
}

.card-h1 {
    font-size: 13pt;
}

.card-p {
    line-height: 20px;
    font-weight: 300;
}

.img-ctd {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.section-services {
    width: 90%;
    margin: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.services-title {
    text-align: center;
}

.services {
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2%;
}

.services-campo {
    gap: 10px;
    position: relative;
    width: 50vh;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px 0 20px;
    border-radius: 15px;
    background-color: #F5F7F8;
    box-shadow: 40px 40px 80px #dddedf,
        -40px -40px 80px #ffffff;
    z-index: 0;
    overflow: hidden;
}
.services-campo:before{
    content: '';
    position: absolute;
    z-index: -1;
    top: -20px;
    right: -20px;
    background-color: #93a98e63;
    height: 32px;
    width: 32px;
    border-radius: 5px;
    transform: scale(3);
    transform-origin: 50% 50%;
    transition: transform 0.35s ease-out;
}
.services-campo:hover{
    transform: scale(1.05);
    transition: all 0.5s;
}
.services-campo:hover:before{
    transform: scale(40);
    cursor: pointer;
}

.services-campo>h2 {
    font-size: 15pt;
    font-weight: 600;
}

.services-campo>p {
    width: 90%;
}

.services-icon {
    height: 40px;
    width: 50px;
}


footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #212121;
    margin: 0 auto;
    height: 30vh;
    gap: 20px;
    color: #F5F7F8;
    text-align: center;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.social-media>a {
    background-color: #F5F7F8;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.social-media>a>img {
    object-fit: cover;
    height: 25px;
    width: 25px;

}